{{> header }} {{> sidebar }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">IGA Automation<i class="fas fa-cat"></i></h1>
  </div>

  <h2>What is this?</h2>
  <p>If you're reading this in GitHub, I am impressed. If you are actually running this code, you might as well leave your team/job and come work on our team.</p>

  <p>
    This is a proof-of-concept that I created to learn and demonstrate how one could automatically onboard resources into Omada.
    <strong>It works end-to-end.</strong> I do not intend to provide detailed instructions for people to get this POC working themselves.
  </p>

  <h2>Architecture Diagram</h2>
  <hr/>

  <img src="/static/architecture.png">

</main>

{{> footer }}