<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/new-site-request">
          <span data-feather="file"></span>
          New Site Request
        </a>
      <!-- </li>
      <li class="nav-item">
        <a class="nav-link" href="/oauth">
          <span data-feather="layers"></span>
          OAuth/OIDC
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tickets">
          <span data-feather="tag"></span>
          Tickets
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/briansimoni/service-meow">
          <span data-feather="github"></span>
          GitHub
        </a>
      </li>
    </ul> -->

  </div>
</nav>